.home {
  background-image: url(./twitterBackground.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search {
  background-image: url(./laptopTwitterBg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.transboxBg {
  text-align: center;
  display: flex;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox p {
  /* margin: 0%; */
  font-weight: bold;
  color: #000000;
}
