body {

    /* background-attachment: fixed; */
    /* background-size: auto;
    background-repeat: no-repeat; */
    background-image: url(./twitterBackground.jpg);
    /* max-width: 100%;
    max-height: auto; */
}
